@model Aiursoft.Blog.Models.SharedViewModels.LayoutViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#3097D1">
    @this.UseDisableZoom()
    @this.UseDnsPrefetch()
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <meta name="description" content="@Model.Description" />
    }
    <title>@Model.Title - @(Model.Owner.NickName)'s Blog</title>
    @this.UseAiurFavicon()
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'> -->
    <link rel="manifest" href="/manifest.json" />
    <link href="~/css/toolkit.css" rel="stylesheet">
    <link href="~/css/application.css" rel="stylesheet">
    <style>
        body::-webkit-scrollbar {
            display: none;
        }

        main {
            width: 100%;
            height: calc(100vh - 51px);
            overflow: scroll;
            margin-left: 0;
        }
    </style>
</head>
<body class="with-top-navbar">
    <div class="growl" id="app-growl"></div>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary app-navbar">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            @Model.Owner.NickName
        </a>
        <button class="navbar-toggler navbar-toggler-right d-md-none"
                type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(Model.ActivePanel == 1 ? " active" : "" )">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item @(Model.ActivePanel == 2 ? " active" : "" )">
                    <a class="nav-link" asp-controller="Tags" asp-action="Index">Tags</a>
                </li>
                <li class="nav-item @(Model.ActivePanel == 3 ? "active" : "")">
                    <a class="nav-link" asp-controller="Me" asp-action="Index">Me</a>
                </li>
            </ul>
            <form class="form-inline float-right d-none d-md-flex">
                <input class="form-control" type="text" data-action="grow" placeholder="Search">
            </form>
            @if (!SignInManager.IsSignedIn(User))
            {
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="GoAuth">@Localizer["Log in"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Auth" asp-action="GoRegister">@Localizer["Sign up"]</a>
                    </li>
                </ul>
            }
            else
            {
                <ul id="#js-popoverContent" class="nav navbar-nav float-right mr-1 d-none d-md-flex">
                    <li class="nav-item">
                        <a class="app-notifications nav-link" href="notifications/index.html">
                            <span class="icon icon-bell"></span>
                        </a>
                    </li>
                    <li class="nav-item ml-2">
                        <button class="btn btn-default navbar-btn navbar-btn-avatar" data-toggle="popover">
                            @await UserImageGenerator.RenderUserImageAsync(User, 26, 26, @class: "rounded-circle")
                        </button>
                    </li>
                </ul>

                <!--Drop Down-->
                <ul class="nav navbar-nav d-none" id="js-popoverContent">
                    <li class="nav-item">
                        <a class="nav-link" href="@ServiceLocation.Account">Account Settings</a>
                    </li>
                    @{
                        var user = await UserManager.GetUserAsync(User);
                    }
                    @if ((await UserManager.IsInRoleAsync(user, Consts.OwnerRoleName)))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Settings" asp-action="Index">Site Settings</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">Logout</a>
                    </li>
                </ul>
            }
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/toolkit.js"></script>
    <script src="/js/application.js"></script>
    @this.UseAiurLogoutter()
    @RenderSection("js", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</body>
</html>
